In [1]:
import pandas as pd
from pyecharts.charts import Line
import numpy as np

In [2]:
data = pd.read_csv('fullevents.csv')
data

,MatchID,TeamID,OriginPlayerID,DestinationPlayerID,MatchPeriod,EventTime,EventType,EventSubType,EventOrigin_x,EventOrigin_y,EventDestination_x,EventDestination_y
0,1,Huskies,Huskies_G1,NaN,1H,31.174681,Free Kick,Goal kick,0.0,0.0,66.0,89.0
1,1,Opponent1,Opponent1_D1,NaN,1H,33.730326,Duel,Air duel,34.0,11.0,22.0,0.0
2,1,Huskies,Huskies_F1,NaN,1H,33.812965,Duel,Air duel,66.0,89.0,78.0,100.0
3,1,Opponent1,Opponent1_D2,NaN,1H,42.611028,Free Kick,Throw in,22.0,0.0,66.0,3.0
4,1,Huskies,Huskies_D1,Huskies_F1,1H,46.323501,Pass,Head pass,34.0,97.0,59.0,95.0
...,...,...,...,...,...,...,...,...,...,...,...,...
59266,38,Huskies,Huskies_D4,NaN,2H,2790.457942,Others on the ball,Touch,2.0,31.0,0.0,32.0
59267,38,Opponent14,Opponent14_M5,NaN,2H,2829.821084,Free Kick,Corner,100.0,100.0,88.0,47.0
59268,38,Huskies,Huskies_D1,NaN,2H,2831.211419,Duel,Air duel,12.0,53.0,14.0,50.0
59269,38,Opponent14,Opponent14_D7,NaN,2H,2832.434399,Duel,Air duel,88.0,47.0,86.0,50.0
59270,38,Opponent14,Opponent14_D7,NaN,2H,2834.127168,Shot,Shot,86.0,50.0,0.0,0.0

In [3]:
data1 = data[data['MatchID']==1]
data1

,MatchID,TeamID,OriginPlayerID,DestinationPlayerID,MatchPeriod,EventTime,EventType,EventSubType,EventOrigin_x,EventOrigin_y,EventDestination_x,EventDestination_y
0,1,Huskies,Huskies_G1,NaN,1H,31.174681,Free Kick,Goal kick,0.0,0.0,66.0,89.0
1,1,Opponent1,Opponent1_D1,NaN,1H,33.730326,Duel,Air duel,34.0,11.0,22.0,0.0
2,1,Huskies,Huskies_F1,NaN,1H,33.812965,Duel,Air duel,66.0,89.0,78.0,100.0
3,1,Opponent1,Opponent1_D2,NaN,1H,42.611028,Free Kick,Throw in,22.0,0.0,66.0,3.0
4,1,Huskies,Huskies_D1,Huskies_F1,1H,46.323501,Pass,Head pass,34.0,97.0,59.0,95.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1516,1,Opponent1,Opponent1_M1,NaN,2H,2891.023764,Duel,Ground loose ball duel,71.0,64.0,72.0,62.0
1517,1,Huskies,Huskies_M1,NaN,2H,2891.023764,Duel,Ground loose ball duel,29.0,36.0,28.0,38.0
1518,1,Opponent1,Opponent1_M1,NaN,2H,2894.702719,Foul,Foul,72.0,62.0,71.0,64.0
1519,1,Huskies,Huskies_G1,NaN,2H,2934.944737,Free Kick,Free Kick,21.0,38.0,83.0,0.0
1520,1,Opponent1,Opponent1_D2,NaN,2H,2946.886247,Free Kick,Throw in,23.0,100.0,100.0,100.0

In [4]:
# 为空的情况
data1.isnull().any(axis=0)

MatchID                False
TeamID                 False
OriginPlayerID         False
DestinationPlayerID     True
MatchPeriod            False
EventTime              False
EventType              False
EventSubType            True
EventOrigin_x           True
EventOrigin_y           True
EventDestination_x      True
EventDestination_y      True
dtype: bool

In [6]:
# subtype为空
data1.loc[data1['EventSubType'].isnull()]

,MatchID,TeamID,OriginPlayerID,DestinationPlayerID,MatchPeriod,EventTime,EventType,EventSubType,EventOrigin_x,EventOrigin_y,EventDestination_x,EventDestination_y
128,1,Opponent1,Opponent1_D1,NaN,1H,457.039100,Offside,NaN,84.0,12.0,100.0,100.0
247,1,Huskies,Huskies_F3,NaN,1H,892.350866,Offside,NaN,76.0,8.0,0.0,0.0
356,1,Huskies,Huskies_F1,NaN,1H,1250.066342,Offside,NaN,74.0,98.0,0.0,0.0
692,1,Opponent1,Opponent1_D4,NaN,1H,2612.054635,Offside,NaN,88.0,45.0,100.0,100.0
734,1,Opponent1,Opponent1_D1,NaN,1H,2810.221212,Offside,NaN,89.0,17.0,100.0,100.0
1234,1,Opponent1,Opponent1_F4,NaN,2H,1768.919395,Offside,NaN,97.0,54.0,100.0,100.0
1273,1,Opponent1,Opponent1_F4,NaN,2H,1962.991516,Offside,NaN,89.0,30.0,100.0,100.0
1352,1,Opponent1,Opponent1_F4,NaN,2H,2260.051279,Offside,NaN,66.0,69.0,100.0,100.0

In [7]:
# 坐标为空
data1.loc[data1['EventOrigin_x'].isnull()]

,MatchID,TeamID,OriginPlayerID,DestinationPlayerID,MatchPeriod,EventTime,EventType,EventSubType,EventOrigin_x,EventOrigin_y,EventDestination_x,EventDestination_y
750,1,Huskies,Huskies_D2,Huskies_D5,2H,60.0,Substitution,Substitution,NaN,NaN,NaN,NaN
989,1,Huskies,Huskies_M2,Huskies_M4,2H,900.0,Substitution,Substitution,NaN,NaN,NaN,NaN
1166,1,Opponent1,Opponent1_F2,Opponent1_F5,2H,1620.0,Substitution,Substitution,NaN,NaN,NaN,NaN
1167,1,Opponent1,Opponent1_F1,Opponent1_F4,2H,1620.0,Substitution,Substitution,NaN,NaN,NaN,NaN
1254,1,Huskies,Huskies_F3,Huskies_M5,2H,1920.0,Substitution,Substitution,NaN,NaN,NaN,NaN